<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <environment names="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </environment>
</head>
<body>
    @{
        var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
        var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
        var returnUrl = $"{routeUrl}{qsPath}";
    }

    @if (returnUrl == "/Zespoly" || returnUrl == "/ZespolyDodaj?" || returnUrl == "/ZespolySzczegoly")
    {
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="@Url.Page("/Pracownicy")">Lista Pracowników</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Page("/Zespoly")">Zespoły </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Page("/Zlecenia")">Zlecenia</a>
            </li>
        </ul>
    }
    else if (returnUrl == "/Zlecenia")
    {
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="@Url.Page("/Pracownicy")">Lista Pracowników</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Page("/Zespoly")">Zespoły </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Page("/Zlecenia")">Zlecenia</a>
            </li>
        </ul>

    }
    else
    {
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="@Url.Page("/Pracownicy")">Lista Pracowników</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Page("/Zespoly")">Zespoły </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Page("/Zlecenia")">Zlecenia</a>
            </li>
        </ul>
    }

    @RenderBody()
</body>
</html>