@page
@model FirmaDeweloperskaWeb.Pages.PracownicyEdytujModel
@{
    ViewData["Title"] = "Edytuj Pracownika!";
}

<div style="width:50%;margin:auto;margin-top:30px;">
    <form class="needs-validation" novalidate asp-page-handler="Add" method="POST">
        @foreach (Pracownicy pracownik in Model.PracownikDane) {
        <div>
            <label for="validationCustom01" class="form-label">Imie</label>
            <input type="text" class="form-control" id="formImie" name="formImie" value="@pracownik.PracImie" required>
            <div class="invalid-feedback">
                Imie jest wymagane
            </div>
        </div>
        <div>
            <label for="validationCustom02" class="form-label">Nazwisko</label>
            <input type="text" class="form-control" id="formNazwisko" name="formNazwisko" value="@pracownik.PracNazwisko" required>
            <div class="invalid-feedback">
                Nazwisko jest Wymagane
            </div>
        </div>
        <div>
            <label for="validationCustom03" class="form-label">Adress</label>
            <input type="text" class="form-control" id="formAdres" name="formAdres" value="@pracownik.PracAdres" required>
        </div>
        <div>
            <label for="validationCustom03" class="form-label">Email</label>
            <input type="email" class="form-control" id="formEmail" name="formEmail" value="@pracownik.PracEmail" required>
            <div class="invalid-feedback">
                Email jest wymagany
            </div>
        </div>
        <div>
            <label for="validationCustom03" class="form-label">Telefon</label>
            <input type="tel" class="form-control" id="formTelefon" name="formTelefon" value="@pracownik.PracTelefon" required>
            <div class="invalid-feedback">
                Telefon jest wymagany
            </div>
        </div>
        <div>
            <label for="validationCustom03" class="form-label">Pesel</label>
            <input type="number" class="form-control" id="formPesel" name="formPesel" value="@pracownik.PracPesel" required>
            <div class="invalid-feedback">
                Pesel jest wymagany
            </div>
        </div>
        <div>
            <label for="validationCustom03" class="form-label">Stanowisko</label>
            <input type="text" class="form-control" id="formStanowisko" name="formStanowisko" value="@pracownik.PracStanowsko" required>
            <div class="invalid-feedback">
                Stanowisko jest wymagane
            </div>
        </div>
        }
        <div>
            </br>
            <centeR><button class="btn btn-primary" type="submit">Edytuj Pracownika</button></centeR>
        </div>
    </form>
</div>


<Script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')

                }, false)
            })
    })()
</Script>