@page
@model FirmaDeweloperskaWeb.Pages.ZespolyDodajPracownikaModel
@{
    ViewData["Tittle"] = "Przypis pracownika do zespołu";
}

<div style="width:50%; margin:auto;margin-top:40px;">
    @foreach (Zespoly zespol in Model.zespoly) {
        <a>Aktualnie dodaj nowego pracownika do zespołu <h2>@zespol.ZespNazwa</h2></a>
    }
    <table class="table table-hover" >
        <thead>
            <tr>
                <td>Imie</td>
                <td>Nazwisko</td>
                <td>Stanowisko</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Pracownicy pracownicy in Model.pracownicy)
            {
                <tr>
                    <td>@pracownicy.PracImie</td>
                    <td>@pracownicy.PracNazwisko</td>
                    <td>@pracownicy.PracStanowsko</td>
                    <td>
                        <form method="post" asp-page-handler="Przypisz">
                            <button type="submit" class="btn btn-info">Przypisz</button>
                            <input type="hidden" name="wybrany" value="@pracownicy.PracId" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</divstyle="width:70%;>