@page
@model FirmaDeweloperskaWeb.Pages.ZleceniaModel
@{
    ViewData["Title"] = "Zlecenia";
}

<div style="width:70%;margin:auto;margin-top: 40px;">
    </br>
    <div class="badge text-wrap" style="width: 45rem;">
        Znajdujesz się w menu podglądu wszystkich zleceń jakie firma posiada/posiadała. Możesz sprawdzić
        szczegóły każdego z nich , dodać nowe zlecenie lub je edytować.
    </div>
    <form class="btn btn-warning" action="@Url.Page("/ZleceniaDodaj")">
        <button type="submit" class="btn btn-warning">Dodaj Zespół</button>
    </form>
    <table class="table table-hover" >
        <thread>
            <tr>
                <td>Numer</td>
                <td>Zrealizowano</td>
                <td>Rozpoczęto</td>
                <td>Opis</td>
                <td></td>
            </tr>
        </thread>
        <tbody>
            @foreach (Zlecenium zlecenie in Model.zlec)
            {
                <tr>
                    <td>@zlecenie.ZlecId</td>
                    <td>@zlecenie.ZlecZakonczono</td>
                    <td>@zlecenie.ZlecRozpoczecie</td>
                    <td>@zlecenie.ZlecOpis</td>
                    <td><a href="ZlecenieEdytuj?zlec_id=@zlecenie.ZlecId&zlec_zesp_id=@zlecenie.ZespId&zlec_prio=@zlecenie.PrioId"><button type="submit" class="btn btn-warning"> Edytuj</button></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>